@using VRP.MVC.Models.Procedures;
@model RequestedProcedure

@{
    var precentProcess = 0;
    var statusProcedure = 0;
    var colorProcess = "bg-secondary";
    if (Model != null)
    {
        statusProcedure = Model.StatusProcudure;
        precentProcess = ((statusProcedure / 3) + 1) * 33;
        var calculateColor = statusProcedure % 3;
        if (calculateColor == 1)
        {
            colorProcess = "bg-success";
        }else if (calculateColor == 2)
        {
            colorProcess = "bg-danger";
        }
    }
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="progress" style="height: 20px;">
                <div class="progress-bar @colorProcess" role="progressbar" style="width: @precentProcess%;" aria-valuenow="@precentProcess" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <ul class="list-unstyled mt-3 mb-0 d-flex justify-content-between">
                <li class="text-center">
                    <span class="fa-stack">
                        @if (statusProcedure == 1 || (statusProcedure != 0 && statusProcedure != 2))
                        {
                            <i class="fas fa-circle fa-stack-2x text-success "></i>
                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                        }
                        else if (statusProcedure == 2)
                        {
                            <i class="fas fa-circle fa-stack-2x text-danger "></i>
                            <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                        }
                        else
                        {
                            <i class="fas fa-circle fa-stack-2x text-secondary "></i>
                            <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                        }
                    </span>
                    <p>Verify User Information</p>
                </li>
                <li class="text-center">
                    <span class="fa-stack">
                        
                        @if (statusProcedure == 4)
                        {
                            <i class="fas fa-circle fa-stack-2x text-success "></i>
                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                        }
                        else if (statusProcedure == 5)
                        {
                            <i class="fas fa-circle fa-stack-2x text-danger"></i>
                            <i class="fas fa-solid fa-truck-fast fa-stack-1x fa-inverse"></i>
                        }
                        else
                        {
                            <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                            <i class="fas fa-solid fa-truck-fast fa-stack-1x fa-inverse"></i>
                        }
                    </span>
                    <p>Verify Your Car</p>
                </li>
                <li class="text-center">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                        <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Done License Plate</p>
                </li>
            </ul>
        </div>
    </div>
</div>
