@using VRP.MVC.Extensions;
@using VRP.MVC.Models.Procedures;

@model ProcedureResponse
<h4>List license plate procedure</h4>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <select class="form-select me-2" aria-label="Default select example">
                <option selected>Status</option>
                <option value="0">Approval</option>
                <option value="1">Rejection</option>
            </select>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Procedure</th>
            <th scope="col">Type of registration</th>
            <th scope="col">In process</th>
            <th scope="col">Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pro in Model.Procedures)
        {
            <tr>
                <td>Register license plate</td>
                <td>@pro.TypeOfRegistrationName</td>
                <td>@pro.StatusProcudure.StatusMessageLicensePlate()</td>
                <td>
                    <a asp-controller="MyProcedure" asp-action="GetDetail" asp-route-id="@pro.Id" class="btn btn-outline-primary">Show detail</a>
                    @if (pro.StatusProcudure == 0 || pro.StatusProcudure == 1 || pro.StatusProcudure == 3)
                    {
                        <button type="button" onclick="cancelProcedure(@pro.Id)" class="btn btn-outline-danger">Cancel</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function cancelProcedure(proId){
        console.log(proId);
        if (confirm("Bạn có chắc muốn hủy yêu cầu?")){
            $.ajax({
                url: '/my-procedure/cancel-procedure',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: { procedureId: proId },
                success: function (response){
                    location.reload();
                },
                error: function (xhr, status, error){
                    console.error('error: ', error)
                }
            })
        }
    }

    
</script>